---
interface Props {
  name: string;
  url: string;
  isBig?: boolean;
}

const { name, url, isBig = false } = Astro.props;
const id = url.split("/").at(-2);
const imageSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${id}.png`;
---

<!-- class:list={[
    "rounded flex flex-col justify-center items-center p-2",
    {
      border: !isBig,
    },
  ]} -->
<a href={`/pokemon/${id}`}>
  <img
    transition:name={`${name}-image`}
    class:list={[
      {
        "w-26 h-26": isBig,
        "w-16 h-16": !isBig,
      },
    ]}
    src={imageSrc}
    alt={name}
  />

  <span
    class:list={[
      "capitalize",
      {
        "text-4xl text-blue-300": isBig,
      },
    ]}>#{id} {name}</span
  >
</a>
